<launch>
<!-- For port paramater run dmesg to find a message like Moschip 2 port adapter converter now attached to ttyUSB0 -->
	<node pkg="ROSARIA" type="RosAria" name="PioneerBase" required="true" args="_port:=/dev/ttyUSB0" output="screen"/>

	<!-- run hokuyo laser node -->
	<node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo" required="true" output="screen">
		<remap from="/laser" to="/scan" />
	</node>

	<!-- transform laser co-ordinates into robot-base co-ordinate frame -->
	<node pkg="tf" type="static_transform_publisher" name="stp_laser" output="screen" args="0.135 0 0.202 0 0 0 base_link scan 100" />

	<!-- transform laser co-ordinates into robot-base co-ordinate frame -->
	<node pkg="tf" type="static_transform_publisher" name="stp_laser" output="screen" args="0.135 0 0.202 0 0 0 base_link laser 100" />

	<!-- map server -->
	<include file="map_server.launch" />

	<!-- amcl -->
	<include file="amcl.launch" />

	<!-- joy controller -->
	<include file="joy.launch" />

	<!-- robot model -->
	<include file="$(find p2os)/p2os_urdf/launch/pioneer3dx_urdf.launch" />

</launch>
